.lead__figure {
  margin: 64px 0 0 0;
}

@media screen and (max-width: 1120px) {
  .lead__figure {
    margin: 56px 0 0 0;
  }
}

@media screen and (max-width: 540px) {
  .lead__figure {
    margin: 40px 0 0 0;
  }
}